.primary-btn {
    background-color: #ffffff;
    border-radius: 10px;
    color: #1b1b1b;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all .15s linear;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 8px;

    &:hover {
        background-color: #66b0ce;
        color: #fff;
    }
}

.secondary-btn {
    background-color: transparent;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid #fff;
    text-decoration: none;
    transition: all .15s linear;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 8px;

    &:hover {
        border-color: #fff;
        color: #1b1b1b;
        background-color: #fff;
    }
}